html, body, form, img {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Helvetica Neue", "Segoe UI", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight:300;
  font-size:16px;
  line-height:1.5em;
  background:#444;
}

#footer {
  margin-left:40%;
  padding:16px 0;
  font-size:12px;
  text-shadow: 0 1px 1px rgba(255,255,255,.1);
  color: #222;
}

#footer a {
  color:#a33;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.75);
}

#footer img {
  position: relative;
  top:-2px;
  left:-12px;
  vertical-align:middle;
  border-radius:4px;
}

#fixnav {
  position:fixed;
  top:8px;
  left:40%;
  z-index:100;
}

#fixnav a {
  display:block;
  position:relative;
  left:-32px;
  width:64px;
  height:64px;
}

#fixnav a + a {
  margin-top:32px;
}

#editpane {
  display:table;
  width:100%;
  background:#ddd;
  overflow:hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,.6);
}

#editpane .col {
  display:table-cell;
  vertical-align:top;
  width:40%;
}

#editpane .col:last-child {
  width:60%;
}

#src {
  font: 12px Monaco, Courier New, monospace;
  background: transparent;
  border:0;
  margin:0;
  padding:32px 48px;
  outline:0;
  resize:none;
  display:block;
  box-sizing: border-box;
  width:100%;
}

#out {
  background:#fff;
  padding: 0 48px;
  box-shadow: 0 1px 3px rgba(0,0,0,.5),
              0 0 128px rgba(0,0,0,.1) inset;
}

@media screen and (max-width: 960px) {

  #fixnav {
    left: 0;
    top: 0;
    right:0;
    text-align: center;
    background: rgba(255,255,255,.9);
    height: 48px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

  #fixnav a {
    display:inline-block;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    margin:0 !important;
  }

  #editpane {
    display: block;
  }

  #editpane .col {
    display: block;
    width: auto !important;
  }

  #src {
    display:none;
  }

  #out {
    padding: 48px 16px;
  }

}

.modal {
  position:relative;
  z-index:2;
  max-width: 640px;
  background: #eee;
  border-radius: 4px;
  margin: 32px auto 0;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,.6)
}

.modal .logo {
  position:absolute;
  top:-4px;
  right:-4px;
}

.shadow {
  position:relative;
  top:-64px;
  z-index:1;
  border-radius: 64px/16px;
  box-shadow: 0 0 24px rgba(0,0,0,.5);
  height:64px;
  width:480px;
  margin:0 auto;
}

/* Content */

a, a:visited { color: #a00 }
a:hover { color: #b00 }
em, .em { color: #c00 }

p, li, ol, ul, h1, h2, h3, pre {
  margin: 1em 0;
}

h1 {
  font-size: 28px;
  line-height: 1.2em;
}

h2 {
  font-size: 26px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  color: #c00;
}

hr {
  border:0;
  border-bottom:1px dashed #ccc;
}

code {
  background: #777;
  padding: 2px 6px;
  border-radius:4px;
  box-shadow: 0 1px 3px #000 inset;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  font-size: 14px;
  font-family: Monaco, Courier New, Courier, monospace;
}

pre {
  box-shadow: 0 1px 3px #000 inset;
  border-radius:4px;
  padding:8px;
  background: #555;
  font-size:12px;
  line-height: 1.5em;
}

pre code {
  background: transparent;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  font-size:12px;
}

.note {
  background:#ffd;
  padding:2px 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,.25)
}

.subtle {
  font-size:14px;
  color: #555;
  line-height:1.5em;
}

.kicker {
  font-size: 20px;
  color: #c00;
}

.lead {
  font-size: 20px
}

.centered {
  text-align:center;
}

.example {
  position:relative;
  margin: 1em 0;
  padding:16px;
  border-radius:4px;
  background: #eeeee5;
}

.example::after {
  content:'example';
  display: block;
  position:absolute;
  right:6px;
  top:0;
  color:#887;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  font-size: 12px;
}

.amp {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif !important;
  font-weight: normal !important;
  font-style: italic !important;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  margin: 0;
  border-spacing:0;
}

table.centered {
  margin: 0 auto;
}

table td, table th {
  padding: 4px 12px;
  margin: 0;
  text-align: left;
}

table th {
  font-weight: 400;
  font-size: 18px;
}

table td.align-left,
table th.align-left {
  text-align: left;
}

table td.align-right,
table th.align-right {
  text-align: right;
}

table td.align-center,
table th.align-center {
  text-align: center;
}

table.rows td, table.rows th {
  border-top: 1px solid #ddd;
}

table.rows tr:first-child td,
table.rows tr:first-child th {
  border-top-width: 0;
}

table.rows thead + tbody tr:first-child td,
table.rows thead + tbody tr:first-child th {
  border-top-width: 1px
}

table.bordered {
  border-collapse: separate;
  border-radius: 4px;
  border: 1px solid #bbb;
}

table.alt tbody tr:nth-child(2n + 1) td,
table.alt tbody tr:nth-child(2n + 1) th {
  background: rgba(0,0,0,.03);
}

tr.strawberry {
  background: #fdd;
  color: #a55;
}

tr.banana {
  background: #ffc;
  color: #aa5;
}

tr.orange {
  background: #fe8;
  color: #a70;
}

tr.kiwi {
  background: #cfa;
  color: #4a2;
}
